@model Gestion_Fimas_Digitales.Models.FirmaDigital

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FirmaDigital</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoFirma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoFirma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepresentanteLegal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepresentanteLegal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpresaAcreditadora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpresaAcreditadora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutaRubrica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutaRubrica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificadoDigital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificadoDigital)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
